span.tt_top_list, .tt_top_list_right { font-weight: 500;}
input.lupa_topo { height: 55px !important;}
input.lupa_footer { width: 62px; height: 61px !important;}
button.carrinhoCompras_categoria { padding: 6px 20px 8px 36px;}
button.carrinhoCompras_categoria_off { padding: 16px 22px 16px 36px;}
img.dt_cesta { margin-top: -8px;}
li.ListaDaCesta2 { height: 99px;}